<% if button.options[:url].present? %>
    <%= link_to button.options[:url], button.label, type: "cancel", class: "btn btn-default" %>
<% else %>
    <button type="<%= button.type %>" class="btn btn-default" <%= button.html_params %> ><%= button.label %></button>
<% end %>
