<div class="form-group field <%= 'has-error' if field.invalid? %>">
<%=
    begin
        erb form_builder.template( "field_#{field.type}" ), locals: { field: field }, layout: false
    rescue Errno::ENOENT
        erb form_builder.template( :field_default ), locals: { field: field }, layout: false
    end
%>
<% if field.hint %>
<span class="help-block"><%= field.hint %></span>
<% end %>
<% if field.invalid? %>
<span class="help-block field-errors">
    <%= field.errors.join(', ') %>
</span>
<% end %>
</div>